@{
    ViewBag.Title = "AllInstallments";
    Layout = "~/Views/_LayoutPage7.cshtml";
    string[] TableHeader = new string[]
    {
        "Image",
        "Product",
        "Price",
        "Name",
        "Address",
        "PostalCode",
        "Total-Install",
        "PerInstallment",
        "Confirm",
        "Cancel"
                                    };
}


<nav class="navbar fixed-top navbar-expand-lg  navbar-dark bg-success ">
    <div class="container-fluid">
        <img src="~/img/logoo.png" class="logo">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" id="home" aria-current="page" id="redirect" onclick="@("window.location.href='" + Url.Action("GetAllCard", "Card") + "'")">All-Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="productss" aria-current="page" id="redirect" onclick="@("window.location.href='" + Url.Action("AddCard", "Card") + "'")">Add-Items</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="instres" aria-current="page" id="redirect" onclick="@("window.location.href='" + Url.Action("AllMerOrders", "Card") + "'")">All-Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="instres" aria-current="page" id="redirect" onclick="@("window.location.href='" + Url.Action("AllInstallmets", "Card") + "'")">All-Installmets</a>
                </li>
            </ul>
            <div class="logout">
                <a class="btnlogout  active" aria-current="page" id="redirect" onclick="@("window.location.href='" + Url.Action("login", "Account") + "'")">Logout</a>
            </div>
        </div>
    </div>
</nav>

<h2 class="Productheading">

    All Installments
</h2>

<div class="alldis">
    <table>
        <tr>
            @{
                foreach (var head in TableHeader)
                {
                    <th>
                        @head
                    </th>
                }
            }
        </tr>
        @{
            if (Model != null)
            {
                foreach (var Data in Model)
                {
                    <tr>
                        <td class="picture">   <img src="@Url.Content(Data.Img)" height="100vh" width="80%" alt="" /> </td>
                        <td class="namee">@Data.NameOfProduct</td>
                        <td class="price">@Data.PriceOfProduct</td>
                        <td class="namee">@Data.Fname</td>
                        <td class="description">@Data.Address</td>
                        <td class="namee">@Data.PostalCode</td>
                        <td class="namee">@Data.intallments</td>
                        <td class="namee">@Data.totalinstall</td>
                        <td class="edit">@Html.ActionLink("Accept", "ConfirmInstallment", "Card", new { UpId = @Data.Id }, null)</td>
                        <td class="delete">@Html.ActionLink("Cancel", "CancelInstallment", "Card", new { DelId = @Data.Id }, null)</td>
                    </tr>
                }
            }
        }
    </table>
</div>
