
@{
    ViewBag.Title = "GetAllClientCard";
    Layout = "~/Views/_LayoutPage3.cshtml";

}
<div class="cont">
    <div class="header">
        <nav class="navbar fixed-top navbar-expand-lg  navbar-dark ">
            <div class="container-fluid">
                <img src="~/img/logoo.png" class="logo">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active " id="home" href="GetAllClientCard">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class= " nav-link active " id="productss" href="AllProducts">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active " id="instres" href="InstallmentResponce">Installment-Response</a>
                        </li>

                    </ul>   
                 
                    <div class="logout" >
                        <a class="btnlogout  active" aria-current="page" id="redirect" onclick="@("window.location.href='" + Url.Action("login", "Account") + "'")">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="content">
        <div class="text">
            <h1>DISCOVER & SHOP <br> <span>THE TREND</span></h1>
            <p>
                Effortlessly plan, organize,schedule and deliver your social<br>content and campaigns with Sprout's powerful   <br>shoping app.
            </p>
            <a href="#produ" class="btn3"> Scroll Down</a>
        </div>
        <div class="pepsi">
            <img src="~/img/Online shopping.gif" alt="">
        </div>
    </div>
</div>


<ul class="cards">

    @{
        if (Model != null)
        {
            foreach (var Data in Model)
            {

                <li>
                    <a href="ProductDetail?PId=@Data.Id" class="card" id="produ">
                        <img src="@Url.Content(Data.ImagePath)" class="card__image" alt="" />
                        <div class="card__overlay">
                            <div class="card__header">
                                <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path /></svg>
                                <div class="card__header-text">
                                    <h3 class="card__title">@Data.Name</h3>
                                    <b>
                                        <h3 class="card__Price">Rs: @Data.Price</h3>
                                    </b>

                                </div>
                            </div>
                            <p class="card__description">@Data.Description</p>
                        </div>
                    </a>
                </li>
            }

        }
    }

</ul>
