
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/_LayoutPage4.cshtml";
    Layout = "~/Views/_LayoutPage3.cshtml";
}

<div class="header">
    <nav class="navbar fixed-top navbar-expand-lg  navbar-dark ">
        <div class="container-fluid">
            <img src="~/img/logoo.png" class="logo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active " id="home" href="GetAllClientCard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class=" nav-link active " id="productss" href="AllProducts">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " id="instres" href="InstallmentResponce">Installment-Response</a>
                    </li>

                </ul>
                <div class="logout">
                    <a class="btnlogout  active" aria-current="page" id="redirect" onclick="@("window.location.href='" + Url.Action("login", "Account") + "'")">Logout</a>
                </div>
            </div>
        </div>
    </nav>
</div>
@{
            if (Model != null)
            { 
                foreach (var Data in Model)
                {
            <main class="containerr">

                <!-- Left Column / Headphones Image -->
                <div class="left-column">
                    <img src="@Url.Content(Data.ImagePath)" alt="" />
                </div>


                <!-- Right Column -->
                <div class="right-column">

                    <!-- Product Description -->
                    <div class="product-description">
                        <span>Our Store</span>

                        <h1 class="headd">@Data.Name</h1>
                        <p class="des">@Data.Description</p>
                    </div>
                    <div class="qtycenter">
                        <p>Qty : </p>
                        <input id="qtyshow" value=" @Data.Quantity" />
@*                        <p class="stock" id="stock">In Stock</p>
*@
                    </div>


                    <!-- Product Pricing -->
                    <div class="product-price">
                        <span>Price : $@Data.Price</span>
                    </div>
                    <a href="Order?OId=@Data.Id" class="cart-btn">Buy Now</a>


                </div>

            </main>
        }
}
}
<script type="text/javascript" src="~/js/main2.js"></script>
